ASPNETCORE_ENVIRONMENT=Production
ASPNETCORE_URLS=http://+:8093
DOTNET_RUNNING_IN_CONTAINER=true
ConnectionStrings__DB=server=mysql;port=3306;database=cageouts_db;user=cage_erp_api;password=CHANGE_ME
ConnectionStrings__DefaultConnection=server=mysql;port=3306;database=cageouts_db;user=cage_erp_api;password=CHANGE_ME
